- name: nginc
  hosts: frontend
  tasks:
    - name: install nginx
      ansible.builtin.yum:
        name: nginx
        state: present
    - name: start nginx server
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true